.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.information-img {
  background: var(--cor-branco-decoracao);
  border-radius: 10px 0 0 10px;
}

.information-img img {
  width: 100%;
  height: 100%;
}

.information-form {
  border-radius: 0 10px 10px 0;
  background: var(--cor-cinza-medio);
}

.information-form form {
  padding: 20px;
  height: 60vh;
}

.information-form,
.information-img {
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.personal-information,
.andress-information {
  padding: 0 15px 0 15px;
}

.andress-title,
.personal-title {
  display: flex;
  position: relative;
  text-transform: uppercase;
  justify-content: start;
  margin: 15px 0px;
}

.andress-title h2,
.personal-title h1 {
  color: #3c493f;
}

.line {
  padding: 2px;
  height: 2px;
  width: 100%;
  background-color: #3c493f;
  margin: 15px 0px;
}

#divPersonalName {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.date-input {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: 2px solid #b3bfb8;
  color: #3c493f;
  transition: border-color 0.3s;
}

.date-input:focus {
  border-color: #a2e3c4;
}

#divContentAndress {
  display: flex;
  gap: 20px;
}

#divContentAndress > #divContentNumero {
  margin-left: 30px;
}

#divContentNumero > .content-field > #txtNumero {
  width: 100px;
}

#btnEnviar {
  background-color: #3c493f;
}

#btnLimpar {
  background-color: #3c493f;
}

#btnEnviar:hover,
#btnLimpar:hover {
  background-color: #a2e3c4;
}

.content-personal-information {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.content-personal-information > span > a {
  text-decoration: none;
  color: var(--cor-titulos);
  border-bottom: 1px solid var(--cor-titulos);
}

.content-personal-information span {
  color: #f7f7f7;
}

.content-personal-information > span > a:hover {
  color: var(--cor-decoracao);
  border-color: var(---cor-decoracao);
}
.hidden {
  display: none;
}
